{% extends 'base.html' %}

{% block contenido %}
{% if autentificado %}
  <a href="{{ url_for('add') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Agregar persona</a>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">Puesto</th>
        <th scope="col">Eliminar</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      {% for persona in personas %}
        <tr>
          <th scope="row">{{ persona.id }}</th>
          <th>{{ persona.nombre }}</th>
          <th>{{ persona.fecha_nacimiento }}</th>
          <th>{{ persona.puesto }}</th>
          <td><a href="/delete/{{ persona.id }}" onclick="return confirm('Seguro que desea eliminar este registro ?')">Eliminar</a></td>
          <td><a href="/edit/{{ persona.id }}" onclick="return confirm('Seguro que desea modificar este registro ?')">Editar</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}