{% extends 'base.html' %}

{% block contenido %}
	<h4> {% if persona %} {{ persona.nombre }} {% endif %}</h4>
	<form method="POST" action="{{ url_for('save') }}">
	  <input name="csrf_token" type="hidden" value="{{ csrf_token }}">
	  {% set hiden = true %}
	  {% if persona %}
	  	{% set hiden = false %}
	  {% endif %}
	  <div class="form-group">	
 	  	{{ form.id(class_='form-control', readonly=true, hidden=hiden, value=persona.id) }}
  	  </div>
	  <div class="form-group">
	    {{ form.nombre.label }}
	    {{ form.nombre(class_='form-control', placeholder='nombre', value=persona.nombre) }}
	  </div>
	  <div class="form-group">
	    {{ form.fecha_nacimiento.label }}
	    {{ form.fecha_nacimiento(class_='form-control', placeholder='Fecha de nacimiento', value=persona.fecha_nacimiento) }}
	  </div>
	  <div class="form-group">
	    {{ form.puesto.label }}
	    {{ form.puesto(class_='form-control', placeholder='Puesto', value=persona.puesto) }}
	  </div>
	  <div class="form-group">
	  	{{ form.submit(class_='btn btn-primary') }}
	  </div>
	</form>
{% endblock %}